body {
    background: rgb(212, 237, 247);
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
    color: white;

}

h3 {
    color: blue;
}

.one {
    position: absolute;
    top: .9rem;


}

.two {
    position: absolute;
    right: 1rem;
    top: .2em;

}

.menu {
    width: auto;
    height: 50px;
    margin-top: 3rem;
    display: flex;

}

.log {
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
}

ul li {
    display: inline;
    padding: 20px;
    margin-top: -1rem;
    float: right;
}

.los {
    width: 40%;
    height: 70%;
    /* border:1px solid black; */
    margin-top: 2em;
    margin-left: 5px;
}

.image {

    width: 40%;
    height: 70%;
    /* border:1px solid black; */
    margin-left: 45rem;
    margin-top: -25.3rem;
}

h1 {
    margin-left: 20px;
    margin-top: 15rem;
    color: blue;
    font-weight: bold;
}

p {
    margin-left: 20px;

}

img {
    margin-top: -14rem;
}

.flow {
    position: absolute;
    left: 3em;
    width: 330px;
    height: 220px;
    margin-top: -1.8rem;
    background: white;
    box-shadow: 0px 0px 2px 1px rgb(161, 160, 160);
}

.flow:hover {
    background: #ff8a1d;
    color: white;
    font-weight: bolder;
}

.main {
    position: absolute;
    left: 27rem;
    width: 350px;
    height: 220px;
    margin-top: -1.8rem;
    /* background: white; */
    background: #ff8a1d;
    box-shadow: 0px 0px 2px 1px rgb(161, 160, 160);

}
.main:hover{
    background: white;
}


.computer {
    position: absolute;
    left: 54rem;
    top: 44.5rem;
    width: 350px;
    height: 220px;
    /* border: 1px solid black; */
    background: white;
    box-shadow: 0px 0px 2px 1px rgb(161, 160, 160);
    border: none;

}

.computer:hover {
    background: #ff8a1d;
    color: white;
    font-weight: bolder;
}

.about {
    position: static;
    width: 100.6%;
    height: 110%;
    /* border: 1px solid black; */
    margin-top: 3.9em;
    background: white;
    margin-left: unset;
    display: flex;
    justify-content: space-between;


}

input[type=button] {
    background-color:#ff8a1d;
    width: 200px;
    height: 40px;
    margin-left: 1em;
    border-radius: .5em;
    border: none;
    font-weight: bolder;
    color: white;
}

input[type=button]:hover {
    color: #ff8a1d;
    background-color: rgb(212, 237, 247);
    border:1px solid #ff8a1d;
    font-weight: bolder;
}

h2 {
    text-align: center;
    margin-top: 4em;
}

i {
    margin-left: 2rem;
    margin-top: .7rem;
    color:white;
}

.about-text {
    width: 400px;
    height: 200px;
    /* border:1px solid blue; */
    margin-top: 13em;
    padding: 20PX;
}

.about-text img {
    margin-left: -17em;
    margin-top: 0em;
    width: 570px;
    height: 370px;
}

.about-text h1 {
    margin-top: 2em;
    color: black;
}

input[type=submit] {
    background: blue;
    width: 200px;
    height: 40px;
    margin-left: 1em;
    border-radius: .5em;
    border: none;
    font-weight: bolder;
    color: white;
}

input[type=submit]:hover {
    background-color: white;
    color: blue;
    background: white;
    border: 1px solid blue;
}
section{
    /* wi 100%; */
    width:100% ;
    height: 80%;
    background: rgb(212, 237, 247);
    position:absolute;
    left: 0;
    display: flex;
    border: none;
}
.tele{
    width:50% ;
    height: 100%;
    border:none;
}
.tele img{
    margin-top:3em;
    height: 600px;
    width: 550px;
    margin-left:3em;
}
.tele p{
    margin-left:1em;
    margin-right: 4em;
    font-size: large;
}
.tele h1{
    margin-left:0em;
    /* margin-right:; */
    font-size:35px;
    /* color: ; */
}